.img-grid{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 40px;
    z-index: 0.5;
  }
  .img-wrap{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
    opacity: 1;
  }
  .img-wrap img{
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .button{
    position:absolute;
    top:0;
    right:0;
    width: 35px;
    height: 35x;
    margin: 10px auto;
    line-height: 30px;
    color: #637381;
    font-weight: bold;
    font-size: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  button:hover{
    color:#212B36;
    ;
  }