
:root{
  --primary: #50B83C;
  --secondary: #173630;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "sans-serif";
  color: var(--secondary);
  font-size: 1.3em;

}
.App{
  max-width: 960px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color:var(--primary);
}