.backdrop-2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
  }
  .backdrop-2 .modal{
    position: absolute;
    top: 30%;
    left: 35%;  
    max-width: 60%;
    max-height: 80%;
    width: 450px;
    z-index: 10;
    height:100px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;}

.modal h3{
    font-weight: bold;
    text-align: center;
    color: var(--secondary);
    margin-bottom:0;
}

.button-yes{
    margin-top:15px;
    margin-left: 38%;
    margin-right:10px;
}

.button-modal{
    background-color: #E3F1DF
    ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}
.button-modal:hover{
    background-color: #BBE5B3;
}

.fileName{
    font-size: 0.8em;
    margin-top:0;
    text-align: center;
}